<div style="padding-bottom:2px; font-size:9pt; background-color: #fff; width: 250px; padding-left: 10px">
<a href="javascript:;" onclick="return insert_text('b');" style="color:#999; text-decoration:none"><b>жирный</b></a>&nbsp;&nbsp;&nbsp;
<a href="javascript:;" onclick="return insert_text('i');" style="color:#777; text-decoration:none"><i>курсив</i></a>&nbsp;&nbsp;&nbsp;
<a href="javascript:;" onclick="return insert_text('pre');" style="color:#555; text-decoration:none; font-family: Courier New">код</a>&nbsp;&nbsp;&nbsp;
<a href="javascript:;" onclick="insert_link(); return false;" style="color:#6666cc; text-decoration:none">ссылка</a>
</div>