<style type="text/css">		
#shadow { background:transparent url('{{MEDIA_URL}}img/bg.gif') repeat-x scroll 0 0; height:50px; }

a[href$='.pdf'] { background:transparent url({{MEDIA_URL}}img/file_icons/acrobat.png) center left no-repeat; display:inline-block; padding-left:20px; line-height:18px; }

a[href$='.swf'], a[href$='.fla'], a[href$='.swd'] { background:transparent url({{MEDIA_URL}}img/file_icons/flash.png) center left no-repeat; display:inline-block; padding-left:20px; line-height:18px; }

a[href$='.xls'], a[href$='.csv'], a[href$='.xlt'], a[href$='.xlw'] { background:transparent url({{MEDIA_URL}}img/file_icons/document_excel.png) center left no-repeat; display:inline-block; padding-left:20px; line-height:18px; }

a[href$='.ppt'], a[href$='.pps'] { background:transparent url({{MEDIA_URL}}img/file_icons/document_powerpoint.png) center left no-repeat; display:inline-block; padding-left:20px; line-height:18px; }

a[href$='.doc'], a[href$='.rtf'], a[href$='.wps'] { background:transparent url({{MEDIA_URL}}img/file_icons/document_word.png) center left no-repeat; display:inline-block; padding-left:20px; line-height:18px; }

a[href$='.txt'] { background:transparent url({{MEDIA_URL}}img/file_icons/document_text.png) center left no-repeat; display:inline-block; padding-left:20px; line-height:18px; }

a[href$='.zip'], a[href$='.gzip'], a[href$='.rar'], a[href$='.tar'], a[href$='.gz'] { background:transparent url({{MEDIA_URL}}img/file_icons/document_zipper.png) center left no-repeat; display:inline-block; padding-left:20px; line-height:18px; }

a[href$='.jpg'], a[href$='.gif'], a[href$='.png'], a[href$='.png'], a[href$='.psd'], a[href$='.ico'], a[href$='.cdr'] { background:transparent url({{MEDIA_URL}}img/file_icons/document_text_image.png) center left no-repeat; display:inline-block; padding-left:20px; line-height:18px; }

.clear { overflow: hidden; width: 100%; }
a.button { background: transparent url('{{MEDIA_URL}}img/bg_button_a.gif') no-repeat scroll top right; color: #444; display: block; float: left; font: normal 12px arial, sans-serif; height: 24px; margin-right: 6px; padding-right: 18px; text-decoration: none; }
a.button span { background: transparent url('{{MEDIA_URL}}img/bg_button_span.gif') no-repeat; display: block; line-height: 14px; padding: 5px 0 5px 18px; }
a.button:active { background-position: bottom right; color: #000; outline: none; }
a.button:active span { background-position: bottom left; padding: 6px 0 4px 18px; }
</style>